{{#with post}}
    <h1>{{title}}</h1>
    <p>{{categori}}</p>
    <p>{{body}}</p>
    <p>Números de comentário: {{comments}}</p>
    <a href="/dashboard">Clique aqui</a> para acessar a área de dashboard </p>
    <a href="/">Voltar</a>

{{/with}}