<h1>Lista de usuários cadastrados</h1>

<div class="container">
    {{#each users}}
        <div class="item">
            <p>{{this.name}}</p>
            <!-- Link para a página de detalhes do usuário, passando o ID -->
            <div class="btn_container">
                 <a class="detalhes" href="/users/{{this.id}}">Ver detalhes</a>

                <form action="/users/delete/{{this.id}}?_method=DELETE" method="POST">
                     <button class="excluir" type="submit">Excluir</button>
                </form>

            </div>
           
        </div>
    {{/each}}
</div>
