body{
    background-image: url(https://img.freepik.com/vetores-gratis/fundo-de-padrao-de-impressao-de-pata-de-cachorrinho-e-gatinho-para-vetor-de-design-com-tema-animal_1017-47509.jpg?t=st=1719345764~exp=1719349364~hmac=4e6159a13fee7563febe2329af51701c28f227bf993947701804e0820512761e&w=740);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-repeat: repeat;
    background-size: cover;
    margin: auto;
    width: 90%;
}

/* Estilo da main  */

main{
    margin: 50px;
    background-color: #ffffffe6;
    border-radius: 20px; 
    padding: 50px 100px;   
}

/* Estilo da barra de navegação  */

nav ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
}

nav ul li{
    display: inline-block;
    margin: 0px 10px;   
    border: 1px solid rgba(31, 50, 112, 0.3);
    border-radius: 10px;
}

nav ul li a{
    text-decoration: none;
    color: #00008b;
    border-radius: 5px;
    padding: 15px 20px;
    display: block;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 16px;
    letter-spacing: 2px;
    
}

a:hover{
    background-color: #00008b;
    color: #f0f8ff;
    font-weight: bold;
    transition: 0.5s;
}


/* Estilo do article */

h1{
    font-size: 80px;
    text-align: center;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    color: #D89F8B;
}

.art01, .art02 {
    background-color: #ffffff;
    margin: auto;
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    box-shadow: 1px 2px 3px 0.3px #00008b;
    box-sizing: border-box;
}

.art01 h2, .art02 h2{
    padding: 10px;
    background-color: #eeeeee;
    border-bottom: 2px solid #00008b;
    margin-top: 0;
}

.art01 p{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

.art01 ul li{
    font-size: 25px;
    line-height: 3;
    margin-left: 50px;
    list-style: none;
    font-weight: bold;
}


.art01 .cadastro{
    text-decoration: none;
    font-size: larger;
    text-align: center;
    display: block;
    color: #00008b;
    padding: 20px;
    border: 2px solid #00008b;
    border-radius: 10px;
}
.art01 .cadastro:hover{
    text-align: center;
    color: #eeeeee;
}



.art01 .font_icon{
    text-decoration: none;
    color: black;
    font-size: 10px;
}

/* produtos */

.secao_produtos{
    width: auto;
}

.produto_img{
    border: 2px solid rgb(0, 0, 139, 0.7);
    border-radius: 10px;
    padding: 10px;
    margin-left:10%;
    margin-top: 4%;
    margin-bottom: 5%;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.produto_img:hover{
    transition: 0.3s;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.5);
}

.produto_img img{
    border: 1px solid black;
    border-radius: 10px;

}

.produto_img p{
    text-align: right;
}

.produto_img .legenda h3{
    border-bottom: 1px solid #00008b;
    padding: 10px;
    text-align: center;
}



/* Estilo do rodapé */


footer {
    text-shadow: -1px 0 rgb(0, 0, 0), 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #6b6b6b;
    color: #ffffff;
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    letter-spacing: 2px;
    font-size: 16px;
}