/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, h2 {
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 36px;
}

p {
    margin: 16px;
}

a {
    color: white;
    text-decoration: none;
    border-radius: 10px ;
    padding: 10px;
    background-color: #444;
    display: inline-block; /* Altere para block para ver a diferença */
    margin: 13px;
    
}

a:hover {
    background-color: #555;
}

h2 + p {
    border: 1px solid #ccc;
    padding: 10px;
    display: block; /* Altere para inline para ver a diferença */
}
