/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    color: #333;
}

.container {
    background-color: #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.container_caixa {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 22px;
    color: #1e88e5;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 20px;
}

input[type="button"] {
    background-color: #1e88e5;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

input[type="button"]:hover {
    background-color: #1565c0;
}

p {
    font-size: 18px;
    color: #333;
    padding: 10px 0;
    font-weight: bold;
}

#outNotasDe100 {
    color: #4caf50;
}

#outNotasDe50 {
    color: #ff9800;
}

#outNotasDe10 {
    color: #f44336;
}
