/* Estilo global */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f0f0f0;
    margin: auto;
    width: 60%;
}

/* Estilo do cabeçalho */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo da navegação */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

a:hover{
    background-color: #f0f0f0;
    font-weight: bold;
    color: #4CAF50;
    padding: 15px;
    transition: 0.5s;
    border-radius: 10px;
}

/* Estilo do conteúdo principal */
main {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

/* Estilo das seções */
section {
    margin-bottom: 20px;
}

/* Estilo do rodapé */
footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}