@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
  margin: 0;
  font-family: "Poppins";
  background: #f7f7f7;
}

header {
  background: #fff;
  padding: 10px;
}

nav {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #333;

}

nav a:hover {
  font-weight: bold;
  transition: .1s ease-in-out;
}

nav h1 {
  text-transform: uppercase;
  line-height: 1em;
}

nav h1 div:first-child {
  font-weight: 800;
  letter-spacing: 1.5px;
}

nav h1 div:last-child {
  font-weight: 400;
}

main {
  max-width: 1200px;
  margin: 60px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 250px;
  gap: 30px;
}

main div {
  overflow: hidden;
  background: #fff;
  border-radius: 6px;
  border: 16px solid #fff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
}

main img {
  min-width: 100%;
  height: 100%;
}

main .short {
  grid-row: span 1;
}

main .tall {
  grid-row: span 2;
}

.tall {
  perspective: 600px;

}




.card {
  width: 100%;
  height: 100%;
  transition: 1s transform;
  transform-style: preserve-3d;

}

.subindo {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.subindo:nth-child(1) {
  animation-delay: 0.5s;
}
.subindo:nth-child(2) {
  animation-delay: 0.7s;
}
.subindo:nth-child(3) {
  animation-delay: 1s;
}
.subindo:nth-child(4) {
  animation-delay: 1.2s;
}
.subindo:nth-child(5) {
  animation-delay: 1.5s;
}
.subindo:nth-child(6) {
  animation-delay: 1.7s;
}
.subindo:nth-child(7) {
  animation-delay: 1.9s;
}

.subindo:nth-child(8) {
  animation-delay: 2.1s;
}
.subindo:nth-child(9) {
  animation-delay: 2.3s;
}
.subindo:nth-child(10) {
  animation-delay: 2.5s;
}


.tall .card:hover {
  transform: rotateY(180deg);

}




.card_face-front {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_face-back {
  background-color: lightcoral;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.card_face-back-back {
  background-color: lightblue;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  height: 50vh;
}



@media screen and (max-width: 960px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 620px) {
  main {
    grid-template-columns: 1fr;
    max-width: 400px;
    margin-top: 20px;
  }

  nav {
    grid-template-columns: repeat(4, 1fr);
  }

  nav h1 {
    grid-column: 1 / span 4;
    grid-row: 1;
  }
}