/* Estilos Globais */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    height: 100vh;
    gap: 10px;
}

/* Estilo para o header */
header {
    background-color: #ff5722;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Estilo para a nav */
nav {
    background-color: #333;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: #444;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #ededed;
    color: #333;
}

/* Estilo para o main */
main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

/* Estilo para os cards */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}



.card {
    background-color: #2196f3;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

.card:hover{
    background-color: darkblue;
    transform: scale(1.05);
    transition: ease-in-out 0.3s;
}

/* Estilo para a seção extra de conteúdo */
.extra-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.aside-left, .aside-right {
    background-color: #ffc107;
    padding: 20px;
    border-radius: 8px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.aside-left header, .aside-right header,
.aside-left footer, .aside-right footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Estilo para o footer principal */
footer {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Media Queries para Responsividade */
@media (max-width: 1200px) {
    .cards-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .extra-content {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .cards-container {
        grid-template-columns: 1fr;
    }
    nav ul {
        display: block;
    }
    nav ul li {
        margin-bottom: 5px;
    }
}
